.photo__text{
    margin: 25px 0 31px 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 209px;
}